<div class='block-chats-list'>
  {{{leftSideBar}}}
  <div class='block-chat_center'>
    <div class='container-chart'>
      {{#if contentCenter}}
        <div class='center-items block-chats-list_center'>
          <span class='text-grey-color'>{{{contentCenter}}}</span>
        </div>
      {{/if}}

      {{{topContainer}}}
      {{{bodyContainer}}}
      {{{footerContainer}}}

    </div>
  </div>
  {{{blockLinks}}}
</div>
