{{{Button}}}
<main class='container'>
  <div class='block-center block-profile'>
    <div class='block-center_header'>
      {{{topContainer}}}
    </div>

    <div class='block-center_middle'>
      {{{middleContainer}}}
    </div>

    {{#if bottomContainer}}
      <div class='block-center_footer profile_footer'>
        {{{bottomContainer}}}
      </div>
    {{/if}}
    {{#if bottomCenterContainer}}
      <div class='block-center_footer'>
        {{{bottomCenterContainer}}}
      </div>
    {{/if}}
  </div>
  {{{blockLinks}}}
</main>
